h1
{
    /*width: cal(90% 30px);
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    border: 10px 10px 10px 10px;
    border-color: cyan;
    background: lightpink;
    padding-left: 10%;
    text-align: center;*/
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 100px;
    
    /*background-image: url("img/T_bg_s_9.jpg");*/



}

#aside
{
    float: right;
    background: white;
    padding: 50px 200px;
}

main
{
    background: white;
    margin: 50px;
    padding-bottom: 1000px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-color: #ccccff;
    border: 5px solid #ccccff;
}

hr#arthr
{
    color: #ff80ff;
    border-top: 0px solid #ff80ff;
    padding-left: 50px;
    border-right: 80px;
    padding-right: 60px;
    margin-right: 50px;
    background-image: linear-gradient(to right, #ffb3ff , #9999ff);
}


#Fst
{

    padding-bottom: 50px;
    padding-top: 10px;
    background-image: url("../img/T_bg_s_9.jpg");
    /*background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    background-size: cover;
}
/*
#Fst img
{
    max-width: 100%;
    max-height: 100%;
    /*display: block;
    margin: auto;
}*/


* {
    box-sizing: border-box;
}
/*
input,button
{
    border: none;
    outline: none;
}
/*
input
{
    width: 100%;
    height: 100%;
    padding-left: 13px;
    padding-right: 46px;
}/*
button
{
    height: 5px;
    width: 5px;
    cursor: pointer;
    /*position: absolute;*/


#Form
{
    /*background: #66ccff;*/
    /*text-align: right;*/
    float: right;
    border-radius: 5px;
    margin-right: 20px;
    /*padding: 1px 3px 3px 3px;*/
}
#Form input
{
    border: 0px solid #66ccff;
    border-radius: 5px;
    background: white;
    color: #9e9c9c;
    outline: none;
}
#Form button
{
    top: 0px;
    right: 5px;
    background: #ffccff;
    border-radius: 0px 5px 5px 0px;
    width: 15px;
}
#Form button::before
{
    content: "\f002";
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 16px;
    color: #f9f0da
}





nav
{   
    border-radius: 30px;
    height: 60px;
    background-image: linear-gradient(to right , #ff99dc , #9999ff);
    /*background-color: lightpink;*/
    overflow: hidden;
    color: indigo;
}

article ul
{
    list-style: none;
}

ul
{
    list-style: none;
}


#art li a img
{
    width: 20%;
    height: 20%;
}

a:link
{
    color: black;
}
a:visited
{
    color: black;
}

nav ul li a:link
{
    color: white;
}

nav ul li a:visited
{
    color: white;
}

nav ul li a
{
    text-decoration: none;
}

nav ul li a:hover
{
    border-bottom: 1px solid;
}

nav ul li
{
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

#footer
{
    text-align: center;
}

hr#H1_xw_hr {
    border: 0px;
    color: #9999ff;
    background: linear-gradient(currentColor, currentColor) no-repeat center;
    background-size: calc(100% - 1.5em - 6px) 1px;
    display: flex;
    justify-content: space-between;
}
hr#H1_wx_hr::before,
hr#H1_wx_hr::after {
    content: '';
    display: block;
    width: .75em; height: .75em;
    transform: rotate(45deg);
    box-sizing: border-box;
    border: 1px solid;
    margin: 3px;
}
#H1_xw
{
    /*white-space: normal;*/
    font-size: 24px;
    text-align: left;
    text-decoration: underline;
    /*display: flex 0 0 auto;*/
    margin: 65px 0 0 0;
    padding: 0 0px 0 0px;
}
#H1_xw :a
{
    text-decoration: underline!;
}
a
{
    text-decoration: none;
}
#FIND
{
    font-size: 16px;
    font-display: flex;
    box-sizing: border-box;
    margin: 0px 30px 0px 30px;
    padding: 0px 30px 0px 30px;
    /*
    padding-left: 30px;
    padding-right: 30px;
    */
}
#about
{

    margin: 20px 30px 0px 30px;
}
#friends
{
    margin: 0px 30px 0px 30px;
}
#HR_1
{
    filter: alpha(opacity=1.0,finishopacity=0,style=2);
    width: 90%;
    color: #ff99dc;
    size: 10px;
}

#S1
{

    display: inline-block; vertical-align: top; width: auto; flex: 0 0 0%; align-self: flex-start; height: auto; line-height: 0; border-width: 0px; margin: 50px -7px 0px 30px; box-sizing: border-box;
}
#S2
{
    text-align: center; position: static; box-sizing: border-box;
}
#S3
{
    display: inline-block; width: 14px; height: 8px; vertical-align: top; overflow: hidden; border-style: solid; border-width: 2px 0px 0px 2px;  border-color: rgb(104, 104, 104) rgb(62, 62, 62) rgb(62, 62, 62) rgb(104, 104, 104); box-sizing: border-box;
}
#S4
{
    float:left;line-height:0;width:0;vertical-align:top;
}


#S5
{
    display: inline-block; vertical-align: bottom; width: auto; flex: 0 0 0%; height: auto; line-height: 0; align-self: flex-end; border-width: 0px; margin: 0px 0px 0px -6px; box-sizing: border-box;
}
#S6
{
    text-align: center; position: static; box-sizing: border-box;
}
#S7
{
    margin: 0 0 0 630px;

    display: inline-block; width: 14px; height: 8px; vertical-align: top; overflow: hidden; border-style: solid; border-width: 0px 2px 2px 0px;  border-color: rgb(104, 104, 104); box-sizing: border-box;
}
#S8
{
    float:left;line-height:0;width:0;vertical-align:top;
}



#S9
{
    display: inline-block; vertical-align: middle; width: auto; min-width: 10%; max-width: 100%; flex: 0 0 auto; height: auto; align-self: center; border-bottom: 12px solid rgb(253, 234, 175); border-bottom-right-radius: 0px; box-sizing: border-box;
}
#S10
{
    margin: 0px 0% -8px; position: static; box-sizing: border-box;
}
#S11
{
    text-align: justify; line-height: 1; color: rgb(104, 104, 104); font-size: 17px; padding: 0px 10px; box-sizing: border-box;
}
/*
#SPAN
{
    display: inline-block; vertical-align: middle; width: auto; min-width: 10%; max-width: 100%; flex: 0 0 auto; height: auto; align-self: center; border-bottom: 12px solid rgb(253, 234, 175); border-bottom-right-radius: 0px; box-sizing: border-box;
}*/

/*

#S1
{
    display: inline-block; vertical-align: top; width: auto; min-width: 10%; max-width: 100%; flex: 0 0 auto; height: auto; align-self: flex-start; margin: 0px 20px 0px 0px; box-sizing: border-box;
}

#S2
{
    text-align: center; position: static; box-sizing: border-box;
}

#S3
{
    display: inline-block; width: 40px; height: 40px; vertical-align: top; overflow: hidden; background-color: rgb(241, 213, 213); border-width: 0px; border-radius: 65px; border-style: none; border-color: rgb(62, 62, 62); box-sizing: border-box;
}
#S4
{
    display: flex; flex-flow: row nowrap; justify-content: center; margin: 7px 0% 0px; position: static; box-sizing: border-box;
}
#S5
{
    display: inline-block; vertical-align: top; width: 20px; flex: 0 0 auto; align-self: flex-start; height: auto; line-height: 0; border-width: 0px;  border-style: none; border-color: rgb(62, 62, 62); overflow: hidden; box-sizing: border-box;
}
#S6
{
    position: static; transform: rotateZ(55deg); -webkit-transform: rotateZ(55deg); -moz-transform: rotateZ(55deg); -o-transform: rotateZ(55deg); box-sizing: border-box;
}
#S7
{
    text-align: right; justify-content: flex-end; margin: 0px 0% 18px; transform: translate3d(13px, 0px, 0px); -webkit-transform: translate3d(13px, 0px, 0px); -moz-transform: translate3d(13px, 0px, 0px); -o-transform: translate3d(13px, 0px, 0px); position: static; box-sizing: border-box;
}
#S8
{
    display: inline-block; width: 20px; height: 8px; vertical-align: top; overflow: hidden; background-color: rgb(255, 255, 255); border-radius: 50%; border-width: 0px; border-style: none; border-color: rgb(62, 62, 62); box-sizing: border-box;
}
#S9
{
    display: inline-block; width: 20px; height: 8px; vertical-align: top; overflow: hidden; background-color: rgb(255, 255, 255); border-radius: 50%; border-width: 0px; border-style: none; border-color: rgb(62, 62, 62); box-sizing: border-box;
}
#S11
{
    display: inline-block; vertical-align: top; width: 20px; flex: 0 0 auto; align-self: flex-start; height: auto; line-height: 0; border-width: 0px;  border-style: none; border-color: rgb(62, 62, 62); overflow: hidden; box-sizing: border-box;
}
#S12
{
    position: static; transform: rotateZ(305deg); -webkit-transform: rotateZ(305deg); -moz-transform: rotateZ(305deg); -o-transform: rotateZ(305deg); box-sizing: border-box;
}
#S13
{
    text-align: left; justify-content: flex-start; margin: 0px 0% 18px; transform: translate3d(-13px, 0px, 0px); -webkit-transform: translate3d(-13px, 0px, 0px); -moz-transform: translate3d(-13px, 0px, 0px); -o-transform: translate3d(-13px, 0px, 0px); position: static; box-sizing: border-box;
}
#S14
{
    display: inline-block; width: 20px; height: 8px; vertical-align: top; overflow: hidden; background-color: rgb(255, 255, 255); border-radius: 50%; border-width: 0px; border-style: none; border-color: rgb(62, 62, 62); box-sizing: border-box;
}
*/